{% extends 'base.html' %}
 
{% block container %}

<div class="text-center"> 
		<h1 class="text-center"><span class="glyphicon glyphicon-cloud-upload"></span></h1>
		<h1 class="text-center">Upload Data</h1>
		<h5 class="text-center">Upload your data with our secure connection</h5>
		<button type="button" class="btn btn-primary btn-lg">Choose File</button>

		<h1 class="text-center"><span class="glyphicon glyphicon-search"></span></h1>
		<h1 class="text-center">Predict Result</h1>
		<h5 class="text-center">Predict your data with our system</h5>


		<div class="row">
				<img src="static/images/sinyal.png" class="rounded mx-auto d-block" class="img-fluid" alt="Responsive image">
		</div>

		<div class="row">		
		<button type="button" class="btn btn-success btn-lg">Download</button>		
		</div>

</div>
		

{% endblock %}